@font-face {
    font-family: "source sans pro";
    src: url('../fonts/SourceSansPro-Regular.otf');
}

@font-face{
    font-family: "source sans pro";
    src: url('../fonts/SourceSansPro-Bold.otf');
    font-family: bold;
}

@font-face{
    font-family: "source sans pro";
    src: url('../fonts/SourceSansPro-BoldIt.otf');
    font-family: bold;
    font-style: italic;
}